[submodule "examples/notepad/siwe"]
	path = examples/notepad/siwe
	url = git@github.com:payton/siwe.git
[submodule "examples/notepad/frontend/siwe"]
	path = examples/notepad/frontend/siwe
	url = git@github.com:spruceid/siwe.git
